/**
* base style
 **/

* {
  box-sizing: border-box;
}

:root {
  /*--color-bg: #2C2C32;*/
  /*--color-bg-hover: #0f7dc6;*/
  --color-active: #FF8700 !important;
}

.active {
  color: var(--color-active) !important;
  cursor: default;
}

a {
    text-decoration: none !important;
}














