/**
* CelebratesPage
 **/

#CelebratesPage {
     overflow: hidden;
     margin: 75px 0 0 0;
     padding: 0 0 40px 0;
     background: #F7FAFA;
}

#CelebratesPage h1 {
    font-size: 38px;
    font-family: 'OpenSans-Light',sans-serif;
    font-weight: 600;
    margin: 40px 0 40px 0;
    text-transform: uppercase;
}

#CelebratesPage h2 {
    font-size: 20px;
    font-family: 'OpenSans-Regular',sans-serif;
    font-weight: 400;
    margin: 0 0 40px 0;
}

#CelebratesPage h2:hover {
     transition: all .5s;
     color: #FF8700 !important;
}


